@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #F15858;
  --background-page: #F7F8FB;
  --blue: #2775EC;
  --light-blue: #F0F6FF;
  --global-padding: 5px;
}

body {
  background-color: var(--background-page);
  padding: var(--global-padding);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
